<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ERA test Suite">


<listeners>

<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG"/>

</listeners>


<test name="ERA Bot response Test Cases">


<classes>

<class name="com.avamo.testassignment.qa.testcases.VerifyHomePage"/>

</classes>

</test>

</suite>